* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Block navigation */
.wpapper {
    max-width: 1440px;
    height: 4754px;
    margin: 0 auto;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    width: 1440px;
    height: 149px;
    padding-top: 40px;
}
.navigation-block {
    display: flex;
    height: 56px;
    justify-content: space-between;
    align-items: center;
}
.navigation {
    display: flex;
    justify-content: space-between;
    width: 374px;
    height: 24px;
}
.nagigation-text {
    height: 24px;
    width: 77px;
    left: 100.19px;
    top: 66px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #222222;
    list-style-type: none;
}
.planet {
    width: 56px;
    height: 56px;
}
.registration-group {
    display: flex;
    justify-content: space-between;
    width: 292px;
    height: 40px;
}
.search-size {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #F3FBF8;
    border-radius: 50%;
}
.search {
    width: 18.76px;
    height: 19.22px;
}
.basket-size {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #F3FBF8;
    border-radius: 50%;
}
.basket {
    width: 24px;
    height: 24px;
}
.button {
    width: 160px;
    height: 40px;
    background: #09A66D;
    border-radius: 8px;
    border: none;
}
.button-text {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
}

/* Block main */
.main {
    position: relative;
    margin: 0 auto;
    width: 1440px;
    height: 850px;
    background: #F3FBF8;
}
.fresh {
    width: 612px;
    height: 408px;
    margin-left: -60.72px;
    margin-top: -37.03px;
}
.main-slogan {
    position: absolute;
    height: 90px;
    top: 92.97px;
    left: 328.5px;
    align-items: center;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 90px;
    color: #222222;
}
.main-text {
    position: absolute;
    width: 637.01px;
    height: 90px;
    top: 202.97px;
    left: 401.49px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #555555;
}
.main-order {
    position: absolute;
    width: 92px;
    height: 30px;
    left: 632px;
    top: 349.97px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #222222;
    z-index: 1;
}
.main-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    top: 332.97px;
    left: 744px;
    border-radius: 50px;
    border: none;
    background: #09A66D;
    z-index: 1;
}
.main-arrow {
    width: 32px;
    height: 0px;
    border: 2px solid #FFFFFF;
    background-color: #FFFFFF;
}
.main-arrow-link {
    width: 13px;
    height: 13px;
    margin-left: -10px;
    border-right: 4px solid #FFFFFF;
    border-bottom: 4px solid #FFFFFF;
    transform: rotate(-45deg);
}
.fruits-vegetables {
    position: absolute;
    width: 862.18px;
    height: 465.52px;
    left: 120.19px;
    top: 351.6px;
}
.block-right {
    position: absolute;
    width: 250px;
    height: 116px;
    left: 1090px;
    top: 392px;
    background: #FFFFFF;
}
.block-right-small {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    width: 171px;
    height: 82px;
    margin-left: 33px;
    margin-top: 17px;
}
.block-right-circle {
    display: flex;
    width: 56px;
    height: 56px;
    border-radius: 50px;
    background: #F3FBF8;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.avatar-top {
    width: 16.62px;
    height: 16.62px;
    border-radius: 50px;
    background: #09A66D;
}
.avatar-botton {
    width: 28.64px;
    height: 14.79px;
}
.block-right-digits {
    width: 90px;
    height: 48px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #000000;
}
.block-right-text {
    width: 91px;
    height: 30px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}
.block-right-reviews {
    top: 538px;
}
.block-right-items {
    top: 684px;
}
.star {
    width: 32px;
    height: 30.53px;
}
.fruits {
    width: 29px;
    height: 29px;
}

/* Block activity */
.activity {
    position: relative;
    height: 1065px;
}
.activity-slogan {
    position: absolute;
    height: 90px;
    margin-top: 140.89px;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 90px;
    color: #222222;
}
.activity-text {
    position: absolute;
    width: 637.01px;
    margin-top: 250.89px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #555555;
}
.activity-block {
    position: absolute;
    width: 500px;
    height: 160px;
    top: 536.89px;
    background-color: #F3FBF8;
}
.activity-block-top {
    top: 356.89px;
    background-color: transparent;
}
.activity-block-middle {
    background-color: #FFFFFF;
}
.activity-block-bottom {
    top: 716.89px;
    background-color: #FFFFFF;
}
.activity-block-circle {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    left: 59.28px;
    top: 40px;
    border-radius: 50px;
}
.activity-block-circle-background {
    background: #F3FBF8
}
.delivery {
    width: 40px;
    height: 37.81px;
}
.menu {
    width: 27.73px;
    height: 40px;
}
.clock {
    width: 40px;
    height: 40px;
}
.activity-block-slogan {
    position: absolute;
    width: 225px;
    height: 30px;
    top: 41px;
    left: 163.28px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #222222
}
.activity-block-text {
    position: absolute;
    width: 277.45px;
    height: 40px;
    left: 163.28px;
    top: 79px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
}
.activity-product-large {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    width: 600px;
    height: 600px;
    left: 740.19px;
    top: 318.89px;
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(45deg, #FFFFFF00, #09A66D) border-box;
    border: 41px solid transparent;
    border-radius: 300px;
}
.activity-product-small {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 420px;
    height: 420px;
    border-radius: 210px;
    /* left: 90px;
    top: 90px; */
    background: #09A66D;
}
.activity-product-line {
    position: absolute;
    width: 38.17px;
    height: 420px;
    background: #FFFFFF;
    transform: rotate(-45deg);
}
.activity-product-line-rotate {
    transform: rotate(-135deg);
}
.activity-product-basket {
    position: absolute;
    width: 371.85px;
    height: 411.14px;
    bottom: 76.86px;
}
.activity-line {
    position: absolute;
    width: 944px;
    height: 531.73px;
    left: 461.47px;
    bottom: 566.15px;
    z-index: -2;
}
.activity-main-button {
    left: 309.44px;
    top: 886.89px;
    background: transparent;
    transform: rotate(90deg);
}
.activity-main-arrow {
    border: 2px solid #09A66D;
    background-color: #09A66D;
}
.activity-main-arrow-link {
    border-right: 4px solid #09A66D;
    border-bottom: 4px solid #09A66D;
}

/* Block products */
/* .products {
    position: absolute;
    width: 1440px;
    height: 832px;
    background: #09A66D0D 5%;
}
.products-block {
    position: absolute;
    width: 600px;
    height: 600px;
    top: 88.76px;
    background: #b4f4dd 5%;
}
.products-block-top-right {
    display: flex;
    position: absolute;
    width: 250px;
    height: 250px;
    left: 78px;
    top: 70px;
    background: #FFFFFF;
    transform: rotate(30deg);
}
.products-block-top-right-img {
    position: absolute;
    width: 250px;
    height: 250px;
    background: url(/img/Cucumber.svg) no-repeat;
} */

/* About use */
.reviews {
    position: relative;
    height: 750px;
}
.reviews-slogan {
    position: absolute;
    width: 640px;
    height: 180px;
    top: 96px;
    font-family: 'Rosario';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 90px;
    color: #222222;
}
.reviews-text {
    position: absolute;
    width: 586.26px;
    height: 180px;
    top: 306px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #555555;
}
.reviews-name {
    position: absolute;
    width: 203px;
    height: 36px;
    top: 526px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}
.reviews-star {
    margin-top: 582.48px;
    width: 22.02px;
    height: 20.94px;
    top: 582.48px;
}
.reviews-star-margin {
    margin-left: 10.39px;
}
.reviews-arrow-left {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 56px;
    height: 56px;
    left: 427.4px;
    top: 565.58px;
    border-radius: 50px;
    border: 1px solid #CCCCCC;
}
.reviews-arrow-left:hover {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 56px;
    height: 56px;
    left: 427.4px;
    top: 565.58px;
    border-radius: 50px;
    border: 1px solid #09A66D;
    background-color: #09A66D;
}
.reviews-arrow-link-left {
    width: 11px;
    height: 11px;
    transform: rotate(135deg);
    border-right: 2px solid #CCCCCC;
    border-bottom: 2px solid #CCCCCC;
}
.reviews-arrow-right {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 56px;
    height: 56px;
    left: 509.8px;
    top: 565.58px;
    border-radius: 50px;
    border: 1px solid #CCCCCC;
}
.reviews-arrow-right:hover {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 56px;
    height: 56px;
    left: 509.8px;
    top: 565.58px;
    border-radius: 50px;
    border: 1px solid #09A66D;
    background-color: #09A66D;
}
.reviews-arrow-link-right {
    width: 11px;
    height: 11px;
    transform: rotate(-45deg);
    border-right: 2px solid #CCCCCC;
    border-bottom: 2px solid #CCCCCC;
}
.reviews-avatar {
    position: absolute;
    width: 446.9px;
    height: 444.82px;
    left: 866.55px;
    top: 157px;
    border-radius: 250px;
}

/* Contact */
.contact {
    position: absolute;
    width: 1440px;
    height: 435px;
    background-color: #F3FBF8;
}
.container-contact {
    display: flex;
    justify-content: space-between;
}
.contact-planet-block {
    width: 345.36px;
    height: 250px;
    margin-top: 66.79px;
}
.contact-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 120px;
    height: 188.69px;
    margin-top: 105.79px;
    list-style-type: none;
}
.contact-slogan {
    width: 215px;
    height: 31px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #222222;
}
.contact-text {
    width: 345.36px;
    height: 150px;
    margin-top: 29.93px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #555555;
}
.contact-resources {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 118px;
    height: 188.69px;
    margin-top: 105.79px;
    list-style-type: none;
}
.contact-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 215px;
    height: 31px;
    margin-top: 105.79px;
    list-style-type: none;
}
.social-icons-facebook {
    width: 12px;
    height: 24px;
    background: #222222;
}
.social-icons-twitter {
    width: 24px;
    height: 19.5px;
    background: #222222;
}
.social-icons-twitter {
    width: 24px;
    height: 24px;
    background: #222222;
}




.contact-navigation-li {
    width: 215px;
    height: 23px;
    left: 602.37px;
    top: 4495.79px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #555555;
}
.navigation-li-margin {
    margin-top: 25px;
}